<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" 
  "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

#from util import util

## Inputs
#set $t=3  ## Material thickness in mm

#set $bbbWidth=86.36
#set $bbbHeight=54.61

#set $standoffHeight=6.3
#set $mountingHoleRadius=1.5875
#set $lensHolderDiameter=15.5  ## M12 is 15.5; CS-mount is 31
#set $lensHolderBaseHeight=7.25
#set $bbbAndCapePcbHeight=15.5 ## This is from the bottom of the BBB PCB to the top of the cape PCB (no components)
#set $extraHeight=2
#set $bbbEthernetWidth=17.78
#set $bbbEthernetHeight=13.4
#set $bbbPowerWidth=9
#set $bbbPowerHeight=11

## The camera center is in the same coordinate space as the mounting holes.
## This is the offset from the top left of the bbb with the Ethernet pointing left.
#set $cameraCenterX=37.922
#set $cameraCenterY=27.305

#set $bbbGap=3  ## gap around all sides of the bbb PCB

#set $bbbPcbThickness=1.5

## Calculated 
#set $baseWidth=bbbWidth+2*bbbGap
#set $baseHeight=bbbHeight+2*bbbGap
#set $lensHolderRadius=lensHolderDiameter/2
#set $boxHeight=bbbAndCapePcbHeight+standoffHeight+lensHolderBaseHeight+extraHeight

<$util.svg("24in", "12in")>

  <$util.style>

  <defs>
    <g id="MountingHoles">
      <desc>Mounting holes. Origin is upper left.

            ------------------------------------
            |                                  |
            |                                  |
            -----                              |
            |   | Ethernet                     |
            -----                              |
            |                              ----|
            OOO Power                  USB |   |
            |                              ----|
            ------------------------------------

            where the Ethernet is coming out the left side.
      </desc>

      <circle class="cut" cx="14.605" cy="3.175" r="$mountingHoleRadius"/>
      <circle class="cut" cx="14.605" cy="51.435" r="$mountingHoleRadius"/>
      <circle class="cut" cx="80.645" cy="6.35" r="$mountingHoleRadius"/>
      <circle class="cut" cx="80.645" cy="48.26" r="$mountingHoleRadius"/>
    </g>

    <g id="TopAndBottom">
      <path class="cut" d="M0,0
		l$t,0
		l10,0
		l0,$t l10,0 l0,-$t
		l${baseWidth-40},0
		l0,$t l10,0 l0,-$t
		l10,0
		l$t,0

		l0,$t
		l0,10
		l-$t,0 l0,10 l$t,0
		l0,${baseHeight-40}
		l-$t,0 l0,10 l$t,0
		l0,10
		l0,$t

		l-$t,0
		l-10,0
		l0,-$t l-10,0 l0,$t
		l-${baseWidth-40},0
		l0,-$t l-10,0 l0,$t
		l-10,0
		l-$t,0

		l0,-$t
		l0,-10
		l$t,0 l0,-10 l-$t,0
		l0,-${baseHeight-40}
		l$t,0 l0,-10 l-$t,0
		l0,-10
		l0,-$t"
      />
    </g>

    <g id="Top">
      <use x="0" y="0" xlink:href="#TopAndBottom"/>
      <circle class="cut" cx="${t+bbbGap+cameraCenterX}" cy="${t+bbbGap+cameraCenterY}" r="$lensHolderRadius"/>
    </g>

    <g id="Base">
      <use x="0" y="0" xlink:href="#TopAndBottom"/>
      <use x="${t+bbbGap}" y="${t+bbbGap}" xlink:href="#MountingHoles"/>
    </g>

    <g id="LeftAndRight">
      <path class="cut" d="M0,$t
		l$t,0
		l10,0
		l0,-$t l10,0 l0,$t
		l${baseWidth-40},0
		l0,-$t l10,0 l0,$t
		l10,0
		l$t,0

		l0,${boxHeight}

		l-$t,0
		l-10,0
		l0,$t l-10,0 l0,-$t
		l-${baseWidth-40},0
		l0,$t l-10,0 l0,-$t
		l-10,0
		l-$t,0
		
		z"
	/>
    </g>

    <g id="Front">
      <path class="cut" d="M0,$t
		l10,0
		l0,-$t l10,0 l0,$t
		l${baseHeight-40},0
		l0,-$t l10,0 l0,$t
		l10,0
	
		l0,${boxHeight}

		l-10,0
		l0,$t l-10,0 l0,-$t
		l-${baseHeight-40},0
		l0,$t l-10,0 l0,-$t
		l-10,0

		z"
	/>
    </g>


    <g id="Back">
      <use x="0" y="0" xlink:href="#Front"/>

      <rect class="cut" x="${12.7}" y="${t+boxHeight-bbbPcbThickness-standoffHeight-bbbEthernetHeight-0.9}" width="${bbbEthernetWidth}" height="${bbbEthernetHeight+1.8}"/>
      <rect class="cut" x="${40.905-0.9}" y="${t+boxHeight-bbbPcbThickness-standoffHeight-bbbPowerHeight-0.9}" width="${bbbPowerWidth+1.8}" height="${bbbPowerHeight+1.8}"/>
    </g>
  </defs>

  <g transform="translate(10,10)"> 
    <use x="0" y="0" xlink:href="#Top"/>
    <use x="0" y="${baseHeight+t+t+t}" xlink:href="#Base"/>
    <use x="0" y="${2*(baseHeight+t+t+t) + t}" xlink:href="#LeftAndRight"/>
    <use x="0" y="${2*(baseHeight+t+t+t) + t + (2*t+boxHeight) + t}" xlink:href="#LeftAndRight"/>

    <use x="${baseWidth+t+t+t}" y="0" xlink:href="#Front"/>
    <use x="${baseWidth+t+t+t}" y="${boxHeight+t+t+t}" xlink:href="#Back"/>
  </g>

</svg> 
