
#import math

#@staticmethod
#def inches2mm($inches)
#return inches * 25.4
#end def

#@staticmethod
#def octagon($attrs, $radius, $angleInRadians)
<polygon $attrs points="
#for $i in range(8)
	${radius * math.cos(angleInRadians + i * math.pi / 4)},${radius * math.sin(angleInRadians + i * math.pi / 4)}
#end for
"/>
#end def

